.myinfo {
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.myinfo img {
  width: 50px;
}

.owo {
  background: url("/../osu.png") no-repeat;
}

.owo:hover {
  background: url("/public/owo.png") no-repeat;
}