@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=East+Sea+Dokdo&display=swap');

.challenger {
  display: inline-block;
  text-align: center;
  margin: 0 20px;
}

.challengerTitle {
  color: #FF0000;
  font-family: 'Do Hyeon', sans-serif;
}